table {
  width: 100%;
}

#example_filter {
  float: right;
}

#example_paginate {
  float: right;
}

label {
  display: inline-flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.col-md-1 {
  /* 110.666667 */
  /* max-width: 200%; */
  text-align: center;
  border: 2px solid black;
  height: 250px;
  /* background-color: yellowgreen; */
  max-width: auto;
  min-width: 195px;
  justify-content: center !important;
  align-self: center !important;
}
.col-md-2 {
  text-align: center;
  width: 100%;
  max-width: auto;
  min-width: 195px;
  justify-content: center !important;
  align-self: center !important;
  /* background-color: goldenrod; */
}
/* ================================================= */
.grid-container {
  margin: 50px 30px auto 30px;
  display: grid;
  grid-template:
    "sidebar body"
    5fr / 1.5fr 5fr;
  /* border: 5px solid red; */
}
p {
  text-align: center;
}
.content-item {
  /* background: rgb(241, 154, 82); */
  grid-area: body;
  /* padding: 10px; */
}

.sidebar-item {
  width: auto;
  /* background: rgb(158, 138, 231); */
  grid-area: sidebar;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
